
.btn1 {
    width: 200px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    margin: 0 auto 20px; /* Center the button and add margin at the bottom */
    display: block; /* Ensure it's block level for margin auto to work */
    color: white;
    font-weight: bold;
    border-radius: 25px; /* Adjust the border radius to control roundness */
    background-color: #F44336; /* Red background color */
    text-align: center; /* Center the text horizontally */
    line-height: 50px; /* Center the text vertically within the button */
}


.timer-green {
    background-color: #4CAF50; /* Green */
}

.timer-yellow {
    background-color: #FFEB3B; /* Amber/Yellow */
}

.timer-red {
    background-color: #F44336; /* Red */
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

.timer-blink {
    animation: blink 1s linear infinite;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.app{
    background: #ffffff;
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0;
    border-radius: 10px;
    padding: 0px;
    border: 0px solid #ffffff;
}

.app h1{
    color:#001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz, #game-over{
    padding: 20px 0;
}

.quiz h2, #game-over h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: #fda21a;
    color: #fefefe;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #00838F;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn, #game-over button{
    background: #00838F;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}


/* Overlay styles */
#leaderboard-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Darker overlay for better focus */
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* High z-index to ensure it's above everything else */
}

.leaderboard {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 80%; /* Responsive width */
    max-width: 500px; /* Max width to ensure it doesn't get too large */
    position: relative; /* For positioning close button or additional styling */
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th, .leaderboard td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
}

.leaderboard th {
    background-color: #007bff;
    color: white;
}
